/**
 * Typography styles
 *
 * This typography file is included in the WYSIWYG editor and the front end. It provides
 * a place to add link styles and font styles you would like in the CMS and the Front End.
 * It has been merged from BlackCandy theme but updated to hopefully show all styles needed
 *
 * Note: for new styles please use the format ".typography (style name) {}" as TinyMCE will
 * then know to include this style in the WYSIWYG editor
 *
 * Author: Michael Andrewartha
 */

.typography {
	font-size: 1.125rem;
	--flow-space: 1.8rem;
}

.typography h2,
.typography h3,
.typography footer {
	--flow-space: 3rem;
}

.typography h1 + *,
.typography h2 + *,
.typography h3 + * {
	--flow-space: 1rem;
}

/**
 * Paragraphs 
 */
.typography p {
	margin: 1em 0;
}

/**
 * Italics 
 */
.typography em { font-style: italic; }

/**
 * Address CSS quotes not supported in IE 6/7.
 */

.typography q,
.typography blockquote {
    quotes: none;
}

/**
 * Address `quotes` property not supported in Safari 4.
 */

.typography q:before,
.typography q:after,
.typography blockquote:before,
.typography blockquote:after {
    content: '';
    content: none;
}

/**
 * Links 
 */
a,
.typography a {
	color: currentColor;
}
	
a:hover,
.typography a:hover {
	text-decoration: none;
}

:visited,
.typography :visited {
	color: #6e6e6e;
}

:focus,
.typography :focus {
	outline: 1px dashed currentColor;
	outline-offset: 0.15rem;
}

	/**
	 * Link icons - merged from BlackCandy theme and will only work if you view the
	 * site in IE8+, FF, Safari, Chrome and you include the images in the correct folder
	 */
	.typography a[href$=".pdf"],
	.typography a[href$=".PDF"],
	.typography a.pdf { padding-left: 18px; background: url(../images/icons/page_white_acrobat.png) no-repeat left center; }
	
	.typography a[href$=".doc"],
	.typography a[href$=".DOC"],
	.typography a.doc { padding-left: 18px; background: url(../images/icons/page_word.png) no-repeat left center; }
	
	.typography a[href$=".xls"],
	.typography a[href$=".XLS"],
	.typography a.xls { padding: 2px; padding-left: 18px; background: url(../images/icons/page_excel.png) no-repeat left center; }
	
	.typography a[href$=".gz"],
	.typography a[href$=".GZ"],
	.typography a[href$=".gzip"],
	.typography a[href$=".GZIP"],
	.typography a[href$=".zip"],
	.typography a[href$=".ZIP"],
	.typography a.archive { padding-left: 18px; background: url(../images/icons/page_white_zip.png) no-repeat left center; }
	
	/**
 	 * Note: Note: .exe files can't be uploaded by default
 	 */
	.typography a[href$=".exe"],
	.typography a[href$=".EXE"],
	.typography a.application { padding-left: 18px; background: url(../images/icons/application.png) no-repeat left center; }

/**
 * List styles
 */
.typography ul, 
.typography ol {
	margin: 1em 0;
}

/**
 * Header styles
 * Address font sizes and margins set differently in IE 6/7.
 * Address font sizes within `section` and `article` in Firefox 4+, Safari 5,
 * and Chrome.
 */

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
.typography h1,
.typography h2, 
.typography h3,
.typography h4,
.typography h5,
.typography h6 {
	line-height: 1.2;
	max-width: 35ch;
}

h1,
.h1,
.typography h1 {
	font-size: 2.5rem;
}

h2,
.h2,
.typography h2 {
	font-size: 2rem;
}

h3,
.h3,
.typography h3 {
	font-size: 1.75rem;
}

h4,
.h4,
.typography h4 {
    font-size: 1em;
}

h5,
.h5,
.typography h5 {
    font-size: 0.83em;
}

h6,
.h6,
.typography h6 {
    font-size: 0.67em;
}

/**
 * Table styles
 * TIP: leave the default styling blank and set up extra styles as below
 */
.typography table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* create your own table styling here */
/*.typography .formalTable { }*/

/**
 * WYSIWYG Editor Alignment Classes 
 */
.typography .left { text-align: left; }
.typography .center { text-align: center; }
.typography .right { text-align: right; }

/**
 * Images
 * Note: check adding images in a paragraph works fine .typography p img {}
 */
.typography img { border: none; }
	.typography img.right { float: right;margin-left: 20px; }
	.typography img.left { float: left; margin-right: 20px; }
	.typography img.leftAlone { float: left; margin-right: 100%; }
	.typography img.center { float: none; margin-left: auto; margin-right: auto; display: block; }
	
/**
 * Images with a caption
 * Note: set margin here to separate caption from image and body text
 * .typography .captionImage,
 * .typography .captionImage img {}
 * Note: by default the image caption alignment is set to the image alignment
 * which looks strange so setting the text align by default fixes this issue
 */
	.typography .captionImage.right { float: right; margin-left: 20px; }
	.typography .captionImage.left { float: left; margin-right: 20px; }
	.typography .captionImage.center { float: none; margin-left: auto; margin-right: auto; }
	.typography .captionImage p.caption { font-weight: normal; text-align: left; }